* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}

/* Encabezado y navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

header nav a:hover {
    background-color: lightblue;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Columna lateral (Proyectos) */
.projectes {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.projectes h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.projectes ul {
    list-style-type: none;
}

.projectes li {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.projectes h3 {
    font-size: 1.3rem;
    color: #007BFF;
    margin-bottom: 10px;
}

.projectes p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px; /* Espacio entre párrafos */
}

.projectes a {
    display: inline-block;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.projectes a:hover {
    background-color: #0056b3;
}

/* Columna de detalles */
.details {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.image-text {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    max-width: 50%; /* Limita el tamaño de la imagen al 50% del contenedor */
    height: auto;
    border-radius: 8px;
}

/* Asegúrate de que las imágenes y los textos estén alineados de manera vertical */
.image-text p {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
}
